
.topic-header {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.topic-header-circle {
  height: 71px;
  width: 71px;
  border-radius: 50%;
  background-color: #674BB1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topic-header-number {
  font-size: 45px;
  color: #FFFFFF;
}

.topic-header-title, .topic-header-text {
  text-align: start;
  max-width: 25%;
}

.topic-header-title {
  font-size: 20px;
  color: white;
  margin: 10px 0;
}

.topic-header-text {
  font-size: 14px;
  color: #7B7B7B;
  line-height: 21px;
  margin: 5px 0;
}

@media (max-width:768px){
  .topic-header-title, .topic-header-text {
    max-width: 70%;
    
  }

  .topic-header {
    margin-left: 0;
  }
}