.evaluation-topics {
  width: 100%
}
.topic-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.topic-element {
  margin-bottom: 65px;
}
.topic-quality-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.topic-slider {
  width:50%;
}

@media (max-width:768px){
  .evaluation-topics {
    width: 95%
  }
  .topic-quality-container {
    width: 95%;
  }
}
  
@media (min-width: 768px){
  

}
  
@media (min-width: 1024px){
  
}
  
@media (min-width: 1200px){
  
  
}