.logo-container {
  background: #6356B5 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  padding-left: 44px;
  height: 44px;
  margin: auto;
  display: flex;
  align-items: center;
}
.logo-text {
  color: white;
  font-size: 20px;
  float: left;
}