.main-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  text-align: left;
}

.main-text-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.col-1-text {
  color: white;
  font-size: 49px;
  line-height: 42px;
}

.col-2-text {
  width: 60%;
  margin: auto
}

.col-3-text {
  width: 80%
}

.col-2-text, .col-3-text  {
  color: #7B7B7B;
  font-size: 14px;
  line-height: 21px;
}
