.main-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  text-align: left;
}

.main-text-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.col-1-text {
  color: white;
  font-size: 49px;
  line-height: 42px;
  letter-spacing: -1.47px;
}

.col-2-text {
  width: 50%;
  margin: auto;
  line-height: 21px;
  letter-spacing: 0;
}

.col-3-text {
  width: 70%;
  line-height: 21px;
  letter-spacing: 0;
  font-weight: lighter;
}

.col-2-text, .col-3-text  {
  color: #7B7B7B;
  font-size: 14px;
  line-height: 21px;
}

@media (max-width: 1200px) {
  .col-1-text {
    color: white;
    font-size: 40px;
    line-height: 38px;
  }
  .col-2-text {
    width: 80%;
  }
  
  .col-3-text {
    width: 90%
  }
  .col-2-text, .col-3-text  {
    font-size: 14px;
    line-height: 21px;
  }
}