
.topic-quality-image {
  float: left;
  margin-top: auto;
  margin-bottom: auto;
}
.topic-quality-item {
  display: grid;
  grid-template-rows: 1fr;
}
.image-checkbox {
  text-align: start;
  color: #7B7B7B;
  display: flex;
  margin-top: 20px;
}

@media (max-width: 640px) {

}