.textarea {
  width: 100%; 
  border: 1px solid #494949;
  border-radius: 4px;
  background-color: #1B1B1B;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
  outline: none;
  color: #FFFFFF;
  resize: none;
  padding: 15px;
}

.comment-label {
  text-align: left;
  color: #FFFFFF;
  font-size: 14px;
  margin-bottom: 10px;
}
.comments-count-btn-label {
  color: #494949;
  margin-left: 10px;
  float: left;
  margin-top: 7px;
}
.comments-form-submit {
  min-width: 15%;
  height: 29px;
  background-color: #674BB1;
  border-radius: 4px;
  border: none;
  color: white;
  float: left;
}
.comment-container {
  margin-bottom: 50px;
}

@media (max-width:768px) {
  .comment-container {
    width: 100%;
  }
}