
.App {
  text-align: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  display: flex;
  width: 100%;
  margin-top: 80px;
}

.logo {
  margin-top: 36px;
}

.main-text {
  margin-top: 50px;
}

.estimate-block {
  width: 45%;
  margin-right: 40px;
  padding-bottom: 7.2%;
}
.estimate-block-for-mobile {
  display: none;
}

.evaluation-topics {
  width: 50%
}

.comments {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1200px) {
  .App {
    width: 97%;
  }
  .main-text {
    margin-top: 30px;
  }
  .main-content {
    margin-top: 50px;
  }
}

@media (min-width: 1600px) {
  .App {
    width: 75%;
  }
}

@media (min-width: 2000px) {
  .App {
    width: 55%;
  }
}

@media (max-width:768px) {
  .comments {
    display: grid;
    grid-template-columns:  1fr;
  }

  .estimate-block {
    display: none;
  }
  .estimate-block-for-mobile {
    display: block;
    width: 100%;
  }
}
